<div class="container">
  <mat-selection-list (selectionChange)="handleBreweryListElementClick($event)" [multiple]="false" class="brewery-list">
    <mat-list-option *ngFor="let brewery of breweryList" [value]="brewery">
      {{brewery.name}}
    </mat-list-option>
  </mat-selection-list>
  <div *ngIf="isShowAllResultButtonVisible()" class="actions">
    <button (click)="fetchCompleteBreweryList()" class="buttons" mat-stroked-button>SHOW ALL RESULTS</button>
  </div>
  <app-info-box *ngIf="(breweryList.length === 0)"
                [message]="searchRequest?.query === '' ?
              ENTER_SEARCH_TEXT : NO_ELEMENTS_FOUND">
  </app-info-box>
</div>



