<div class="container">
  <app-info-box *ngIf="(breweryList.length === 0)"
                [message]="searchRequest.query === '' ?
              ENTER_SEARCH_TEXT : NO_ELEMENTS_FOUND">
  </app-info-box>
  <mat-selection-list (selectionChange)="handleSelectionChange($event)" [multiple]="false" class="brewery-list">
    <mat-list-option *ngFor="let brewery of breweryList" [value]="brewery">
      {{brewery.name}}
    </mat-list-option>
  </mat-selection-list>
  <div *ngIf="(breweryList.length !== 0) && (searchRequest.limit !== MAX_SEARCH_LIMIT)" class="actions">
    <button (click)="fetchCompleteList()" class="buttons" mat-stroked-button>SHOW ALL RESULTS</button>
  </div>

</div>



