.search-history-entry {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f0f0f0;
  display: flex;
  padding: 0 0 0 16px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #717171;
  margin-bottom: 8px;
  border-radius: 24px;

  span {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.card {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  border: 1px solid #f0f0f0;

  p {
    margin: 18px;
    font-size: 1rem;
  }
}

.title {
  word-break: break-all;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  flex: 1;
}


@media screen and (max-width: 768px) {
  .title {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 8px 0;
  }
  .search-history-entry {
    border-radius: 2px;

    span {
      margin: 5px 0 0;
    }

    .close-button {
      display: flex;
      align-self: flex-start;
      padding-top: 2px;
    }
  }

  .card {
    padding: 8px 8px;
  }
}

