:host {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    height: 36px;
    padding: 8px 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #717171;
}

p {
    cursor: pointer;
}
