//Colors
$light-blue:#5983c1;
$dark-blue:#304a70;
$white:#FFFFFF;
$black:#00000066;
$gray:#808080;
$light-gray:#c4c4c4;
$dark-gray:#afadad;

//Font size
$text-small:16px;
$text-medium:24px;

//Screen breakpoint
$small-phone:576px;